.container {
    position: absolute;
    width: 50%;
    height: 99%;
    background-color: wheat;
    border: 3px solid black;
}

/* .container {
    position: absolute;
    margin-top: 1px;
    height: 100%;
    width: 50%;
    font-size : 100%;
    background-color:rgb(34, 6, 6) ;
    margin-left: 25% ;
} */

.row {
    width: 50%;
    height: 10%;
    /* background-color: black; */
    margin: 0 auto;
}

.blue-box {
    width: 20%;
    height: 80%;
    background-color: rgb(71, 71, 102);
    margin-top: auto%;
    margin-left: 5%;
}

.row-high {
    width: 50%;
    height: 20%;
    background-color: white;
    margin: 0 auto;
}

.color1 {background-color: rgb(126, 164, 185);}
.color2 {background-color: rgb(255, 166, 0);}
.color3 {background-color: rgb(4, 4, 37);}
.color4 {background-color: rgb(21, 255, 0);}
.color5 {background-color: rgb(255, 0, 0);}
.color6 {background-color: rgb(2, 36, 17);}